// Primary
$C1_red: hsl(0, 100%, 74%);
$C2_green: hsl(154, 59%, 51%);

// Accent
$C3_blue: hsl(248, 32%, 49%);

// Neutral
$C4_dark-blue: hsl(249, 10%, 26%);
$C5_grayish-blue: hsl(246, 25%, 77%);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: $C1_red url("../images/bg-intro-desktop.png") no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: min(1080px, 95%);
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-section {
    font-family: "Poppins", serif;

    width: 500px;

    h1 {
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 1px;
        color: white;
    }

    p {
        margin-top: 30px;
        color: rgb(245, 237, 237);
    }
}

.offer-section {
    .offer-details {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        max-width: 530px;
        height: 60px;
        border-radius: 10px;
        background-color: $C3_blue;

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: "Poppins", serif;
            color: $C5_grayish-blue;

            span {
                color: white;
                font-weight: 500;
            }
        }
    }

    .signup-form {
        width: 530px;
        height: 450px;
        //height: 550px;
        margin-top: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            margin-top: 20px;
            width: 85%;

            input {
                margin-top: 18px;
                width: 100%;
                height: 57px;

                font-family: "Poppins", serif;
                font-weight: 500;
                border: 1px solid $C5_grayish-blue;
                border-radius: 5px;
                padding-left: 30px;

                &::placeholder {
                    font-weight: 700;
                }
            }

            button {
                margin-top: 15px;
                width: 100%;
                height: 57px;
                border-radius: 5px;
                text-transform: uppercase;

                font-family: "Poppins", serif;
                font-size: 16px;

                border: none;
                outline: none;
                background-color: $C2_green;
                color: white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                cursor: pointer;

                &:active {
                    transform: translateY(2px);
                }
            }
        }

        p {
            margin-top: 10px;
            font-family: "Poppins", serif;
            font-size: 10px;

            font-weight: bold;
            color: $C5_grayish-blue;

            span {
                color: $C1_red;
            }
        }
    }
}
